<section class="py-12 sm:py-16 lg:py-20 bg-gray-50">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="text-center sm:text-left">
            <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl">Popular Categories</h2>
        </div>

        <div class="grid grid-cols-1 gap-4 mt-8 sm:mt-12 sm:grid-cols-2 lg:grid-cols-4">
            <div class="relative overflow-hidden group">
                <div class="absolute inset-0">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:-rotate-3 group-hover:scale-125" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/4/women.png" alt="" />
                </div>

                <div class="relative p-6">
                    <p class="text-lg font-bold text-gray-900">For Women</p>
                    <p class="mt-1.5 text-sm font-medium text-gray-900">3,495 Products</p>

                    <div class="mt-24">
                        <a
                                href="#"
                                title=""
                                class="inline-flex items-center justify-center px-3 py-2 text-xs font-medium text-white transition-all duration-200 bg-gray-900 border border-transparent rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                                role="button"
                        >
                            Shop Now
                            <span class="absolute inset-0" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden group">
                <div class="absolute inset-0">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:-rotate-3 group-hover:scale-125" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/4/men.png" alt="" />
                </div>

                <div class="relative p-6">
                    <p class="text-lg font-bold text-gray-900">For Men</p>
                    <p class="mt-1.5 text-sm font-medium text-gray-900">2,847 Products</p>

                    <div class="mt-24">
                        <a
                                href="#"
                                title=""
                                class="inline-flex items-center justify-center px-3 py-2 text-xs font-medium text-white transition-all duration-200 bg-gray-900 border border-transparent rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                                role="button"
                        >
                            Shop Now
                            <span class="absolute inset-0" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden group">
                <div class="absolute inset-0">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:-rotate-3 group-hover:scale-125" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/4/kids.png" alt="" />
                </div>

                <div class="relative p-6">
                    <p class="text-lg font-bold text-white">For Kids</p>
                    <p class="mt-1.5 text-sm font-medium text-white">385 Products</p>

                    <div class="mt-24">
                        <a
                                href="#"
                                title=""
                                class="inline-flex items-center justify-center px-3 py-2 text-xs font-medium text-white transition-all duration-200 bg-gray-900 border border-transparent rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                                role="button"
                        >
                            Shop Now
                            <span class="absolute inset-0" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden group">
                <div class="absolute inset-0">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:-rotate-3 group-hover:scale-125" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/4/accessories.png" alt="" />
                </div>

                <div class="relative p-6">
                    <p class="text-lg font-bold text-gray-900">Accessories</p>
                    <p class="mt-1.5 text-sm font-medium text-gray-900">2,483 Products</p>

                    <div class="mt-24">
                        <a
                                href="#"
                                title=""
                                class="inline-flex items-center justify-center px-3 py-2 text-xs font-medium text-white transition-all duration-200 bg-gray-900 border border-transparent rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                                role="button"
                        >
                            Shop Now
                            <span class="absolute inset-0" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-12 sm:py-16 lg:py-20 bg-gray-50">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="flex items-center justify-center text-center md:justify-between sm:text-left">
            <div>
                <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl">Popular Categories</h2>
                <p class="text-base text-gray-600 font-normal mt-2.5">Choose from wide variety of items</p>
            </div>

            <div class="hidden md:block">
                <a href="#" title="" class="inline-flex items-center p-1 -m-1 text-xs font-bold tracking-wide text-gray-400 uppercase transition-all duration-200 rounded hover:text-gray-900 focus:ring-2 focus:text-gray-900 focus:ring-gray-900 focus:ring-offset-2 focus:outline-none" role="button">
                    All Categories
                    <svg class="w-4 h-4 ml-1.5 -mt-0.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-5 mt-8 text-center sm:mt-12 sm:grid-cols-3 xl:grid-cols-6 sm:gap-6">
            <div class="relative transition-all duration-300 bg-gray-100 rounded-xl hover:shadow-xl hover:bg-white">
                <div class="px-4 py-5 sm:p-6">
                    <img class="object-cover w-24 h-24 mx-auto border border-gray-200 rounded-full" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/2/smart-watches.png" alt="" />

                    <p class="mt-5 text-base font-bold text-gray-900">
                        <a href="#" title="">
                            Smart <br class="block sm:hidden xl:block" />Watches
                            <span class="absolute inset-0" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="relative transition-all duration-300 bg-gray-100 rounded-xl hover:shadow-xl hover:bg-white">
                <div class="px-4 py-5 sm:p-6">
                    <img class="object-cover w-24 h-24 mx-auto border border-gray-200 rounded-full" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/2/wireless-earphone.png" alt="" />
                    <p class="mt-5 text-base font-bold text-gray-900">
                        <a href="#" title="">
                            True Wireless Earphone
                            <span class="absolute inset-0" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="relative transition-all duration-300 bg-gray-100 rounded-xl hover:shadow-xl hover:bg-white">
                <div class="px-4 py-5 sm:p-6">
                    <img class="object-cover w-24 h-24 mx-auto border border-gray-200 rounded-full" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/2/wireless-headphone.png" alt="" />
                    <p class="mt-5 text-base font-bold text-gray-900">
                        <a href="#" title="">
                            Wireless Headphone
                            <span class="absolute inset-0" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="relative transition-all duration-300 bg-gray-100 rounded-xl hover:shadow-xl hover:bg-white">
                <div class="px-4 py-5 sm:p-6">
                    <img class="object-cover w-24 h-24 mx-auto border border-gray-200 rounded-full" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/2/smart-phones.png" alt="" />
                    <p class="mt-5 text-base font-bold text-gray-900">
                        <a href="#" title="">
                            Smart <br class="block sm:hidden xl:block" />Phones
                            <span class="absolute inset-0" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="relative transition-all duration-300 bg-gray-100 rounded-xl hover:shadow-xl hover:bg-white">
                <div class="px-4 py-5 sm:p-6">
                    <img class="object-cover w-24 h-24 mx-auto border border-gray-200 rounded-full" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/2/runnies-shoes.png" alt="" />
                    <p class="mt-5 text-base font-bold text-gray-900">
                        <a href="#" title="">
                            Running Shoes
                            <span class="absolute inset-0" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="relative transition-all duration-300 bg-gray-100 rounded-xl hover:shadow-xl hover:bg-white">
                <div class="px-4 py-5 sm:p-6">
                    <img class="object-cover w-24 h-24 mx-auto border border-gray-200 rounded-full" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/2/leather-items.png" alt="" />
                    <p class="mt-5 text-base font-bold text-gray-900">
                        <a href="#" title="">
                            Leather Items
                            <span class="absolute inset-0" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="block mt-8 text-center md:hidden">
            <a href="#" title="" class="inline-flex items-center p-1 -m-1 text-xs font-bold tracking-wide text-gray-400 uppercase transition-all duration-200 rounded hover:text-gray-900 focus:ring-2 focus:text-gray-900 focus:ring-gray-900 focus:ring-offset-2 focus:outline-none" role="button">
                All Categories
                <svg class="w-4 h-4 ml-1.5 -mt-0.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="py-12 bg-white sm:py-16 lg:py-20">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="text-center">
            <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl">Select a category to get started</h2>
        </div>

        <div class="grid grid-cols-1 gap-5 mt-8 sm:mt-12 sm:grid-cols-2 xl:grid-cols-3 sm:gap-8 xl:gap-12">
            <div class="relative overflow-hidden transition-all duration-200 bg-gray-100 rounded-xl hover:bg-gray-200">
                <div class="p-6 lg:px-10 lg:py-8">
                    <div class="flex items-center justify-start space-x-8">
                        <svg class="flex-shrink-0 w-10 h-10 text-gray-600 md:w-12 md:h-12" viewBox="0 0 60 60" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M37.75 10C37.75 14.51 34.06 18.2 29.55 18.2C25.04 18.2 21.35 14.51 21.35 10H15.2L7 14.1V26.4H15.2V51H43.9V26.4H52.1V14.1L43.9 10H37.75Z" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <div class="flex-shrink-0 w-px h-12 bg-gray-200"></div>
                        <div>
                            <h3 class="text-sm font-bold text-gray-900 sm:text-base lg:text-lg">
                                <a href="#" title="">
                                    Clothes
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                </a>
                            </h3>
                            <p class="mt-2 text-sm font-medium text-gray-500">983 Available Products</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden transition-all duration-200 bg-gray-100 rounded-xl hover:bg-gray-200">
                <div class="p-6 lg:px-10 lg:py-8">
                    <div class="flex items-center justify-start space-x-8">
                        <svg class="flex-shrink-0 w-10 h-10 text-gray-600 md:w-12 md:h-12" viewBox="0 0 60 60" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M44 52H16C11.6 52 8 48.4 8 44V20H52V44C52 48.4 48.4 52 44 52Z" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M40 26V18C40 12.5 35.5 8 30 8C24.5 8 20 12.5 20 18V26" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M36 34H24V42H36V34Z" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <div class="flex-shrink-0 w-px h-12 bg-gray-200"></div>
                        <div>
                            <h3 class="text-sm font-bold text-gray-900 sm:text-base lg:text-lg">
                                <a href="#" title="">
                                    Ladies Bag
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                </a>
                            </h3>
                            <p class="mt-2 text-sm font-medium text-gray-500">142 Available Products</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden transition-all duration-200 bg-gray-100 rounded-xl hover:bg-gray-200">
                <div class="p-6 lg:px-10 lg:py-8">
                    <div class="flex items-center justify-start space-x-8">
                        <svg class="flex-shrink-0 w-10 h-10 text-gray-600 md:w-12 md:h-12" viewBox="0 0 60 60" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 32V48H12C12 48 12 40.7 12 36C12 30.1 8 27.9 8 22C8 15.2 12 12 12 12L35.1 33.3C36.9 35 39.4 36 41.9 36H46C49.3 36 52 38.7 52 42V48C52 48 50 48 42 48C34 48 23.5 32 18 32Z" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <div class="flex-shrink-0 w-px h-12 bg-gray-200"></div>
                        <div>
                            <h3 class="text-sm font-bold text-gray-900 sm:text-base lg:text-lg">
                                <a href="#" title="">
                                    Shoes
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                </a>
                            </h3>
                            <p class="mt-2 text-sm font-medium text-gray-500">476 Available Products</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden transition-all duration-200 bg-gray-100 rounded-xl hover:bg-gray-200">
                <div class="p-6 lg:px-10 lg:py-8">
                    <div class="flex items-center justify-start space-x-8">
                        <svg class="flex-shrink-0 w-10 h-10 text-gray-600 md:w-12 md:h-12" viewBox="0 0 60 60" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30 18L24 11L26 8H34L36 11L30 18Z" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M30 52C39.3888 52 47 44.3888 47 35C47 25.6112 39.3888 18 30 18C20.6112 18 13 25.6112 13 35C13 44.3888 20.6112 52 30 52Z" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M30 47C36.6274 47 42 41.6274 42 35C42 28.3726 36.6274 23 30 23C23.3726 23 18 28.3726 18 35C18 41.6274 23.3726 47 30 47Z" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <div class="flex-shrink-0 w-px h-12 bg-gray-200"></div>
                        <div>
                            <h3 class="text-sm font-bold text-gray-900 sm:text-base lg:text-lg">
                                <a href="#" title="">
                                    Ornaments
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                </a>
                            </h3>
                            <p class="mt-2 text-sm font-medium text-gray-500">849 Available Products</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden transition-all duration-200 bg-gray-100 rounded-xl hover:bg-gray-200">
                <div class="p-6 lg:px-10 lg:py-8">
                    <div class="flex items-center justify-start space-x-8">
                        <svg class="flex-shrink-0 w-10 h-10 text-gray-600 md:w-12 md:h-12" viewBox="0 0 60 60" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 19.417L20 8H40L42 19.417" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M18 40.583L20 52H40L42 40.583" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M30 46C38.8366 46 46 38.8366 46 30C46 21.1634 38.8366 14 30 14C21.1634 14 14 21.1634 14 30C14 38.8366 21.1634 46 30 46Z" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M30 22V30H38" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <div class="flex-shrink-0 w-px h-12 bg-gray-200"></div>
                        <div>
                            <h3 class="text-sm font-bold text-gray-900 sm:text-base lg:text-lg">
                                <a href="#" title="">
                                    Watches
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                </a>
                            </h3>
                            <p class="mt-2 text-sm font-medium text-gray-500">253 Available Products</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden transition-all duration-200 bg-gray-100 rounded-xl hover:bg-gray-200">
                <div class="p-6 lg:px-10 lg:py-8">
                    <div class="flex items-center justify-start space-x-8">
                        <svg class="flex-shrink-0 w-10 h-10 text-gray-600 md:w-12 md:h-12" viewBox="0 0 60 60" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M30 44.625C31.5533 44.625 32.8125 43.3658 32.8125 41.8125C32.8125 40.2592 31.5533 39 30 39C28.4467 39 27.1875 40.2592 27.1875 41.8125C27.1875 43.3658 28.4467 44.625 30 44.625Z"
                                    stroke-width="2"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    d="M41.25 50.25H18.75C17.7554 50.25 16.8016 49.8549 16.0983 49.1516C15.3951 48.4484 15 47.4946 15 46.5V12.75C15 11.7554 15.3951 10.8016 16.0983 10.0983C16.8016 9.39509 17.7554 9 18.75 9H41.25C42.2446 9 43.1984 9.39509 43.9016 10.0983C44.6049 10.8016 45 11.7554 45 12.75V46.5C45 47.4946 44.6049 48.4484 43.9016 49.1516C43.1984 49.8549 42.2446 50.25 41.25 50.25Z"
                                    stroke-width="2"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                        </svg>
                        <div class="flex-shrink-0 w-px h-12 bg-gray-200"></div>
                        <div>
                            <h3 class="text-sm font-bold text-gray-900 sm:text-base lg:text-lg">
                                <a href="#" title="">
                                    Smart Phones
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                </a>
                            </h3>
                            <p class="mt-2 text-sm font-medium text-gray-500">94 Available Products</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-12 bg-white sm:py-16 lg:py-20">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="grid grid-cols-1 gap-5 text-center md:grid-cols-2 sm:text-left">
            <div class="relative overflow-hidden group">
                <div class="absolute inset-0">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:scale-125 group-hover:rotate-3" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/3/summer-men-collection.png" alt="" />
                </div>

                <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent"></div>

                <div class="relative aspect-w-3 aspect-h-4 lg:aspect-w-1 lg:aspect-h-1">
                    <div class="flex items-end justify-center">
                        <div class="px-4 py-8 sm:px-6 lg:px-10">
                            <h3 class="text-2xl font-bold text-white lg:text-3xl">Summer Men Collection</h3>
                            <p class="mt-4 text-base font-normal text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus faucibus massa dignissim tempus.</p>

                            <div class="mt-8">
                                <a href="#" title="" class="inline-flex items-center text-base font-bold text-white" role="button">
                                    Explore Now
                                    <svg class="w-6 h-6 ml-2 transition-all duration-200 group-hover:translate-x-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                    </svg>
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden group">
                <div class="absolute inset-0">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:scale-125 group-hover:rotate-3" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/3/fitness-collection.png" alt="" />
                </div>

                <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent"></div>

                <div class="relative aspect-w-3 aspect-h-4 lg:aspect-w-1 lg:aspect-h-1">
                    <div class="flex items-end justify-center">
                        <div class="px-4 py-8 sm:px-6 lg:px-10">
                            <h3 class="text-2xl font-bold text-white lg:text-3xl">Fitness Collection</h3>
                            <p class="mt-4 text-base font-normal text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus faucibus massa dignissim tempus.</p>
                            <div class="mt-8">
                                <a href="#" title="" class="inline-flex items-center text-base font-bold text-white" role="button">
                                    Explore Now
                                    <svg class="w-6 h-6 ml-2 transition-all duration-200 group-hover:translate-x-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                    </svg>
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-12 sm:py-16 lg:py-20 bg-gray-50">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="text-center">
            <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl">Featured Categories</h2>
            <p class="text-gray-500 font-normal text-base mt-2.5">Choose from wide variety of items</p>
        </div>

        <div class="grid grid-cols-1 gap-5 mt-8 text-center sm:mt-12 sm:grid-cols-2 lg:grid-cols-4 sm:gap-6">
            <div class="relative overflow-hidden rounded-lg group">
                <div class="absolute inset-0">
                    <img class="object-cover w-full h-full" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/5/new-hits.png" alt="" />
                </div>

                <div class="relative aspect-w-4 aspect-h-3">
                    <div class="flex items-end justify-center p-6">
                        <span class="inline-flex items-center justify-center px-3 py-1.5 text-sm font-bold text-gray-900 bg-white rounded"> New Hits </span>
                    </div>
                </div>

                <div class="absolute inset-0 flex items-center justify-center transition-all duration-300 bg-gray-700 opacity-0 group-hover:opacity-100">
                    <div class="flex flex-col items-center">
                        <svg class="w-12 h-12 mx-auto text-white" viewBox="0 0 48 48" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M44.2 33.2727H27.7545L14.9636 29.6182V33.2727H4V15H5.82727C5.82727 15 9.75591 16.8273 13.1364 16.8273C16.5168 16.8273 20.4455 15 20.4455 15H22.2727L35.0636 24.1364L41.9159 26.8773C43.2864 27.4255 44.2 28.7959 44.2 30.2577V33.2727Z"
                                    stroke-width="2"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                        </svg>
                        <span class="mt-8 text-lg font-bold text-white">
                            <a href="#" title="">
                                New Hits
                                <span class="absolute inset-0" aria-hidden="true"></span>
                            </a>
                        </span>
                        <span class="text-sm text-gray-200 font-medium mt-1.5"> 3,495 Products </span>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden rounded-lg group">
                <div class="absolute inset-0">
                    <img class="object-cover w-full h-full" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/5/shoes.png" alt="" />
                </div>

                <div class="relative aspect-w-4 aspect-h-3">
                    <div class="flex items-end justify-center p-6">
                        <span class="inline-flex items-center justify-center px-3 py-1.5 text-sm font-bold text-gray-900 bg-white rounded"> Shoes </span>
                    </div>
                </div>

                <div class="absolute inset-0 flex items-center justify-center transition-all duration-300 bg-gray-700 opacity-0 group-hover:opacity-100">
                    <div class="flex flex-col items-center">
                        <svg class="w-12 h-12 mx-auto text-white" viewBox="0 0 48 48" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M44.2 33.2727H27.7545L14.9636 29.6182V33.2727H4V15H5.82727C5.82727 15 9.75591 16.8273 13.1364 16.8273C16.5168 16.8273 20.4455 15 20.4455 15H22.2727L35.0636 24.1364L41.9159 26.8773C43.2864 27.4255 44.2 28.7959 44.2 30.2577V33.2727Z"
                                    stroke-width="2"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                        </svg>
                        <span class="mt-8 text-lg font-bold text-white">
                            <a href="#" title="">
                                Shoes
                                <span class="absolute inset-0" aria-hidden="true"></span>
                            </a>
                        </span>
                        <span class="text-sm text-gray-200 font-medium mt-1.5"> 3,495 Products </span>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden rounded-lg group">
                <div class="absolute inset-0">
                    <img class="object-cover w-full h-full" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/5/fitness-accessories.png" alt="" />
                </div>

                <div class="relative aspect-w-4 aspect-h-3">
                    <div class="flex items-end justify-center p-6">
                        <span class="inline-flex items-center justify-center px-3 py-1.5 text-sm font-bold text-gray-900 bg-white rounded"> Fitness Accessories </span>
                    </div>
                </div>

                <div class="absolute inset-0 flex items-center justify-center transition-all duration-300 bg-gray-700 opacity-0 group-hover:opacity-100">
                    <div class="flex flex-col items-center">
                        <svg class="w-12 h-12 mx-auto text-white" viewBox="0 0 48 48" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M44.2 33.2727H27.7545L14.9636 29.6182V33.2727H4V15H5.82727C5.82727 15 9.75591 16.8273 13.1364 16.8273C16.5168 16.8273 20.4455 15 20.4455 15H22.2727L35.0636 24.1364L41.9159 26.8773C43.2864 27.4255 44.2 28.7959 44.2 30.2577V33.2727Z"
                                    stroke-width="2"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                        </svg>
                        <span class="mt-8 text-lg font-bold text-white">
                            <a href="#" title="">
                                Fitness Accessories
                                <span class="absolute inset-0" aria-hidden="true"></span>
                            </a>
                        </span>
                        <span class="text-sm text-gray-200 font-medium mt-1.5"> 3,495 Products </span>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden rounded-lg group">
                <div class="absolute inset-0">
                    <img class="object-cover w-full h-full" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/5/men-dress.png" alt="" />
                </div>

                <div class="relative aspect-w-4 aspect-h-3">
                    <div class="flex items-end justify-center p-6">
                        <span class="inline-flex items-center justify-center px-3 py-1.5 text-sm font-bold text-gray-900 bg-white rounded"> Men Dress </span>
                    </div>
                </div>

                <div class="absolute inset-0 flex items-center justify-center transition-all duration-300 bg-gray-700 opacity-0 group-hover:opacity-100">
                    <div class="flex flex-col items-center">
                        <svg class="w-12 h-12 mx-auto text-white" viewBox="0 0 48 48" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M44.2 33.2727H27.7545L14.9636 29.6182V33.2727H4V15H5.82727C5.82727 15 9.75591 16.8273 13.1364 16.8273C16.5168 16.8273 20.4455 15 20.4455 15H22.2727L35.0636 24.1364L41.9159 26.8773C43.2864 27.4255 44.2 28.7959 44.2 30.2577V33.2727Z"
                                    stroke-width="2"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                        </svg>
                        <span class="mt-8 text-lg font-bold text-white">
                            <a href="#" title="">
                                Men Dress
                                <span class="absolute inset-0" aria-hidden="true"></span>
                            </a>
                        </span>
                        <span class="text-sm text-gray-200 font-medium mt-1.5"> 3,495 Products </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-12 text-center">
            <a href="#" title="" class="inline-flex items-center p-1 -m-1 text-xs font-bold tracking-wide text-gray-400 uppercase transition-all duration-200 rounded hover:text-gray-900 focus:ring-2 focus:text-gray-900 focus:ring-gray-900 focus:ring-offset-2 focus:outline-none" role="button">
                Browse All Categories
                <svg class="w-4 h-4 ml-1.5 -mt-0.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="py-12 sm:py-16 lg:py-20 bg-gray-50">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="flex items-center justify-center text-center md:justify-between sm:text-left">
            <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl">Popular Categories</h2>

            <div class="hidden md:block">
                <a href="#" title="" class="inline-flex items-center p-1 -m-1 text-xs font-bold tracking-wide text-gray-400 uppercase transition-all duration-200 rounded hover:text-gray-900 focus:ring-2 focus:text-gray-900 focus:ring-gray-900 focus:ring-offset-2 focus:outline-none" role="button">
                    All Categories
                    <svg class="w-4 h-4 ml-1.5 -mt-0.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>

        <div class="grid grid-cols-1 mt-8 text-center sm:mt-12 sm:grid-cols-2 lg:grid-cols-4 gap-x-8 gap-y-6 sm:text-left">
            <div class="relative group">
                <div class="overflow-hidden aspect-w-4 aspect-h-2 rounded-2xl">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:scale-125" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/1/breakfast.png" alt="" />
                </div>

                <h3 class="mt-5 text-lg font-bold text-gray-900">
                    <a href="#" title="">
                        Breakfast
                        <span class="absolute inset-0" aria-hidden="true"></span>
                    </a>
                </h3>
                <p class="text-xs text-gray-500 font-medium mt-1.5">23 Items available</p>
            </div>

            <div class="relative group">
                <div class="overflow-hidden aspect-w-4 aspect-h-2 rounded-2xl">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:scale-125" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/1/buffet-lunch.png" alt="" />
                </div>

                <h3 class="mt-5 text-lg font-bold text-gray-900">
                    <a href="#" title="">
                        Buffet Lunch
                        <span class="absolute inset-0" aria-hidden="true"></span>
                    </a>
                </h3>
                <p class="text-xs text-gray-500 font-medium mt-1.5">38 Items available</p>
            </div>

            <div class="relative group">
                <div class="overflow-hidden aspect-w-4 aspect-h-2 rounded-2xl">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:scale-125" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/1/snacks.png" alt="" />
                </div>

                <h3 class="mt-5 text-lg font-bold text-gray-900">
                    <a href="#" title="">
                        Snacks
                        <span class="absolute inset-0" aria-hidden="true"></span>
                    </a>
                </h3>
                <p class="text-xs text-gray-500 font-medium mt-1.5">19 Items available</p>
            </div>

            <div class="relative group">
                <div class="overflow-hidden aspect-w-4 aspect-h-2 rounded-2xl">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:scale-125" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/categories/1/dinner.png" alt="" />
                </div>

                <h3 class="mt-5 text-lg font-bold text-gray-900">
                    <a href="#" title="">
                        Dinner
                        <span class="absolute inset-0" aria-hidden="true"></span>
                    </a>
                </h3>
                <p class="text-xs text-gray-500 font-medium mt-1.5">31 Items available</p>
            </div>
        </div>

        <div class="block mt-8 text-center md:hidden">
            <a href="#" title="" class="inline-flex items-center p-1 -m-1 text-xs font-bold tracking-wide text-gray-400 uppercase transition-all duration-200 rounded hover:text-gray-900 focus:ring-2 focus:text-gray-900 focus:ring-gray-900 focus:ring-offset-2 focus:outline-none" role="button">
                All Categories
                <svg class="w-4 h-4 ml-1.5 -mt-0.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </div>
</section>
