<section class="py-12 bg-gray-50 sm:py-16">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid max-w-2xl grid-cols-1 mx-auto sm:grid-cols-2 xl:max-w-none xl:grid-cols-4 gap-x-8 gap-y-8 sm:gap-y-12">
            <div class="flex items-center">
                <svg class="flex-shrink-0 text-gray-900 w-14 h-14" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
                <div class="ml-4">
                    <h3 class="text-base font-bold text-gray-900">Secured Payments</h3>
                    <p class="mt-1 text-sm font-normal text-gray-600">Make payment with ease</p>
                </div>
            </div>

            <div class="flex items-center">
                <svg class="flex-shrink-0 text-gray-900 w-14 h-14" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                </svg>
                <div class="ml-4">
                    <h3 class="text-base font-bold text-gray-900">Shop for Anyone</h3>
                    <p class="mt-1 text-sm font-normal text-gray-600">You can shop for any category</p>
                </div>
            </div>

            <div class="flex items-center">
                <svg class="flex-shrink-0 text-gray-900 w-14 h-14" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" />
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1"
                            d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"
                    />
                </svg>
                <div class="ml-4">
                    <h3 class="text-base font-bold text-gray-900">Free Delivery</h3>
                    <p class="mt-1 text-sm font-normal text-gray-600">Get 100% free delivery</p>
                </div>
            </div>

            <div class="flex items-center">
                <svg class="flex-shrink-0 text-gray-900 w-14 h-14" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />
                </svg>
                <div class="ml-4">
                    <h3 class="text-base font-bold text-gray-900">Quality Products</h3>
                    <p class="mt-1 text-sm font-normal text-gray-600">Made with highest care</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-12 bg-white sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="text-center">
            <h2 class="text-2xl font-bold text-gray-900">The reasons you should choose our shop</h2>
        </div>

        <div class="grid grid-cols-1 mt-10 text-center border border-gray-200 sm:grid-cols-2 lg:grid-cols-4">
            <div class="relative transition-all duration-300 bg-white hover:shadow-xl hover:z-10">
                <div class="px-4 py-8">
                    <div class="inline-flex items-center justify-center w-12 h-12 mx-auto bg-gray-400 rounded-full">
                        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" />
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"
                            />
                        </svg>
                    </div>
                    <h3 class="text-base font-bold text-gray-900 mt-7">Free Delivery Worldwide</h3>
                    <p class="mt-3 text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec proin.</p>
                </div>
            </div>

            <div class="relative transition-all duration-300 bg-white border-t border-gray-200 sm:border-t-0 sm:border-l hover:shadow-xl hover:z-10">
                <div class="px-4 py-8">
                    <div class="inline-flex items-center justify-center w-12 h-12 mx-auto bg-gray-400 rounded-full">
                        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />
                        </svg>
                    </div>
                    <h3 class="text-base font-bold text-gray-900 mt-7">Send Gifts Easily</h3>
                    <p class="mt-3 text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec proin.</p>
                </div>
            </div>

            <div class="relative transition-all duration-300 bg-white border-t border-gray-200 lg:border-l lg:border-t-0 hover:shadow-xl hover:z-10">
                <div class="px-4 py-8">
                    <div class="inline-flex items-center justify-center w-12 h-12 mx-auto bg-gray-400 rounded-full">
                        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                        </svg>
                    </div>
                    <h3 class="text-base font-bold text-gray-900 mt-7">Secured Payments</h3>
                    <p class="mt-3 text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec proin.</p>
                </div>
            </div>

            <div class="relative transition-all duration-300 bg-white border-t border-gray-200 sm:border-l lg:border-t-0 hover:shadow-xl hover:z-10">
                <div class="px-4 py-8">
                    <div class="inline-flex items-center justify-center w-12 h-12 mx-auto bg-gray-400 rounded-full">
                        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                        </svg>
                    </div>
                    <h3 class="text-base font-bold text-gray-900 mt-7">High Quality Materials</h3>
                    <p class="mt-3 text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec proin.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-12 bg-gray-50 sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 mx-auto lg:max-w-5xl sm:grid-cols-2 gap-x-12 lg:gap-x-20 gap-y-8 sm:gap-y-12">
            <div class="flex items-start">
                <svg class="flex-shrink-0 text-gray-900 w-11 h-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                </svg>
                <div class="ml-6">
                    <h3 class="text-lg font-bold text-gray-900">Secured Payments</h3>
                    <p class="mt-3 text-sm font-normal text-gray-600">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis arua.</p>
                </div>
            </div>

            <div class="flex items-start">
                <svg class="flex-shrink-0 text-gray-900 w-11 h-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" />
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1"
                            d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"
                    />
                </svg>
                <div class="ml-6">
                    <h3 class="text-lg font-bold text-gray-900">Free Delivery Worldwide</h3>
                    <p class="mt-3 text-sm font-normal text-gray-600">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis arua.</p>
                </div>
            </div>

            <div class="flex items-start">
                <svg class="flex-shrink-0 text-gray-900 w-11 h-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />
                </svg>
                <div class="ml-6">
                    <h3 class="text-lg font-bold text-gray-900">Send Gifts Easily</h3>
                    <p class="mt-3 text-sm font-normal text-gray-600">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis arua.</p>
                </div>
            </div>

            <div class="flex items-start">
                <svg class="flex-shrink-0 text-gray-900 w-11 h-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                </svg>
                <div class="ml-6">
                    <h3 class="text-lg font-bold text-gray-900">High Quality Materials</h3>
                    <p class="mt-3 text-sm font-normal text-gray-600">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis arua.</p>
                </div>
            </div>
        </div>
    </div>
</section>
