<section class="py-12 bg-gray-50 sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 mx-auto lg:max-w-5xl sm:grid-cols-2 gap-x-12 lg:gap-x-20 gap-y-8 sm:gap-y-12">
            <div class="flex items-start">
                <svg class="flex-shrink-0 text-gray-900 w-11 h-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                </svg>
                <div class="ml-6">
                    <h3 class="text-lg font-bold text-gray-900">Secured Payments</h3>
                    <p class="mt-3 text-sm font-normal text-gray-600">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis arua.</p>
                </div>
            </div>

            <div class="flex items-start">
                <svg class="flex-shrink-0 text-gray-900 w-11 h-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" />
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1"
                        d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"
                    />
                </svg>
                <div class="ml-6">
                    <h3 class="text-lg font-bold text-gray-900">Free Delivery Worldwide</h3>
                    <p class="mt-3 text-sm font-normal text-gray-600">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis arua.</p>
                </div>
            </div>

            <div class="flex items-start">
                <svg class="flex-shrink-0 text-gray-900 w-11 h-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />
                </svg>
                <div class="ml-6">
                    <h3 class="text-lg font-bold text-gray-900">Send Gifts Easily</h3>
                    <p class="mt-3 text-sm font-normal text-gray-600">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis arua.</p>
                </div>
            </div>

            <div class="flex items-start">
                <svg class="flex-shrink-0 text-gray-900 w-11 h-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                </svg>
                <div class="ml-6">
                    <h3 class="text-lg font-bold text-gray-900">High Quality Materials</h3>
                    <p class="mt-3 text-sm font-normal text-gray-600">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis arua.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="relative bg-dark-gray">
    <div class="absolute inset-0">
        <div class="absolute inset-y-0 left-0 w-1/2 bg-black"></div>
    </div>

    <div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-5">
        <div class="py-12 sm:py-16 bg-black lg:col-span-2 lg:py-20">
            <div class="px-6 sm:px-8 lg:px-12 xl:pr-16">
                <h2 class="font-sans text-2xl font-normal text-white">The Program</h2>
                <p class="mt-6 font-sans text-lg font-normal text-opacity-50 text-white">Nunc aenean risus nam risus neque lacus quis aliquam. Pulvinar dignissim id sem habitant. Mi, sed proin non venenatis nam.</p>

                <ul class="mt-12 space-y-6 font-sans text-base font-normal text-white">
                    <li class="flex items-start">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-4 border rounded-full border-primary">
                            <svg class="w-6 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M13.9354 6.55397C14.1949 6.75575 14.2418 7.12971 14.04 7.38923L9.41207 13.3415C9.309 13.4741 9.15475 13.557 8.98731 13.5697C8.81989 13.5825 8.65487 13.5239 8.53293 13.4084L6.01804 11.0275C5.77932 10.8015 5.76901 10.4248 5.99502 10.186C6.22102 9.94732 6.59776 9.93701 6.83648 10.163L8.87495 12.0929L13.1001 6.65852C13.3019 6.399 13.6759 6.35219 13.9354 6.55397Z"
                                />
                            </svg>
                        </div>
                        Cras est vehicula imperdiet enim elit turpis.
                    </li>

                    <li class="flex items-start">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-4 border rounded-full border-primary">
                            <svg class="w-6 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M13.9354 6.55397C14.1949 6.75575 14.2418 7.12971 14.04 7.38923L9.41207 13.3415C9.309 13.4741 9.15475 13.557 8.98731 13.5697C8.81989 13.5825 8.65487 13.5239 8.53293 13.4084L6.01804 11.0275C5.77932 10.8015 5.76901 10.4248 5.99502 10.186C6.22102 9.94732 6.59776 9.93701 6.83648 10.163L8.87495 12.0929L13.1001 6.65852C13.3019 6.399 13.6759 6.35219 13.9354 6.55397Z"
                                />
                            </svg>
                        </div>
                        Sit morbi elit sit elementum adipiscing quis.
                    </li>

                    <li class="flex items-start">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-4 border rounded-full border-primary">
                            <svg class="w-6 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M13.9354 6.55397C14.1949 6.75575 14.2418 7.12971 14.04 7.38923L9.41207 13.3415C9.309 13.4741 9.15475 13.557 8.98731 13.5697C8.81989 13.5825 8.65487 13.5239 8.53293 13.4084L6.01804 11.0275C5.77932 10.8015 5.76901 10.4248 5.99502 10.186C6.22102 9.94732 6.59776 9.93701 6.83648 10.163L8.87495 12.0929L13.1001 6.65852C13.3019 6.399 13.6759 6.35219 13.9354 6.55397Z"
                                />
                            </svg>
                        </div>
                        Quam id quam etiam viverra interdum sed tincidunt non.
                    </li>

                    <li class="flex items-start">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-4 border rounded-full border-primary">
                            <svg class="w-6 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M13.9354 6.55397C14.1949 6.75575 14.2418 7.12971 14.04 7.38923L9.41207 13.3415C9.309 13.4741 9.15475 13.557 8.98731 13.5697C8.81989 13.5825 8.65487 13.5239 8.53293 13.4084L6.01804 11.0275C5.77932 10.8015 5.76901 10.4248 5.99502 10.186C6.22102 9.94732 6.59776 9.93701 6.83648 10.163L8.87495 12.0929L13.1001 6.65852C13.3019 6.399 13.6759 6.35219 13.9354 6.55397Z"
                                />
                            </svg>
                        </div>
                        Mi in semper quis amet quam pretium, convallis vulputate nulla.
                    </li>

                    <li class="flex items-start">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-4 border rounded-full border-primary">
                            <svg class="w-6 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M13.9354 6.55397C14.1949 6.75575 14.2418 7.12971 14.04 7.38923L9.41207 13.3415C9.309 13.4741 9.15475 13.557 8.98731 13.5697C8.81989 13.5825 8.65487 13.5239 8.53293 13.4084L6.01804 11.0275C5.77932 10.8015 5.76901 10.4248 5.99502 10.186C6.22102 9.94732 6.59776 9.93701 6.83648 10.163L8.87495 12.0929L13.1001 6.65852C13.3019 6.399 13.6759 6.35219 13.9354 6.55397Z"
                                />
                            </svg>
                        </div>
                        In sapien et feugiat morbi in condimentum.
                    </li>

                    <li class="flex items-start">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-4 border rounded-full border-primary">
                            <svg class="w-6 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M13.9354 6.55397C14.1949 6.75575 14.2418 7.12971 14.04 7.38923L9.41207 13.3415C9.309 13.4741 9.15475 13.557 8.98731 13.5697C8.81989 13.5825 8.65487 13.5239 8.53293 13.4084L6.01804 11.0275C5.77932 10.8015 5.76901 10.4248 5.99502 10.186C6.22102 9.94732 6.59776 9.93701 6.83648 10.163L8.87495 12.0929L13.1001 6.65852C13.3019 6.399 13.6759 6.35219 13.9354 6.55397Z"
                                />
                            </svg>
                        </div>
                        Eleifend id sit vestibulum pulvinar pharetra ornare morbi.
                    </li>

                    <li class="flex items-start">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-4 border rounded-full border-primary">
                            <svg class="w-6 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M13.9354 6.55397C14.1949 6.75575 14.2418 7.12971 14.04 7.38923L9.41207 13.3415C9.309 13.4741 9.15475 13.557 8.98731 13.5697C8.81989 13.5825 8.65487 13.5239 8.53293 13.4084L6.01804 11.0275C5.77932 10.8015 5.76901 10.4248 5.99502 10.186C6.22102 9.94732 6.59776 9.93701 6.83648 10.163L8.87495 12.0929L13.1001 6.65852C13.3019 6.399 13.6759 6.35219 13.9354 6.55397Z"
                                />
                            </svg>
                        </div>
                        Eget etiam pellentesque dictumst id montes.
                    </li>

                    <li class="flex items-start">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-4 border rounded-full border-primary">
                            <svg class="w-6 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M13.9354 6.55397C14.1949 6.75575 14.2418 7.12971 14.04 7.38923L9.41207 13.3415C9.309 13.4741 9.15475 13.557 8.98731 13.5697C8.81989 13.5825 8.65487 13.5239 8.53293 13.4084L6.01804 11.0275C5.77932 10.8015 5.76901 10.4248 5.99502 10.186C6.22102 9.94732 6.59776 9.93701 6.83648 10.163L8.87495 12.0929L13.1001 6.65852C13.3019 6.399 13.6759 6.35219 13.9354 6.55397Z"
                                />
                            </svg>
                        </div>
                        Aliquam ultrices faucibus natoque tortor ut risus.
                    </li>
                </ul>
            </div>
        </div>

        <div class="py-12 sm:py-16 bg-dark-gray lg:col-span-3 lg:py-20">
            <div class="px-6 sm:px-8 lg:px-12 xl:pl-16">
                <ul class="space-y-12">
                    <li class="flex items-start">
                        <p class="flex-shrink-0 font-sans text-base font-normal text-opacity-50 text-white">
                            Week 1<br />
                            Week 2
                        </p>
                        <div class="ml-12">
                            <h3 class="font-serif text-3xl italic sm:text-4xl lg:text-5xl text-white">Introduction</h3>
                            <p class="mt-4 font-sans text-xl font-normal text-opacity-50 text-white">Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula.</p>
                        </div>
                    </li>

                    <li class="flex items-start">
                        <p class="flex-shrink-0 font-sans text-base font-normal text-opacity-50 text-white">
                            Week 3<br />
                            Week 8
                        </p>
                        <div class="ml-12">
                            <h3 class="font-serif text-3xl italic sm:text-4xl lg:text-5xl text-white">Lorem ipsum</h3>
                            <p class="mt-4 font-sans text-xl font-normal text-opacity-50 text-white">Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula.</p>
                        </div>
                    </li>

                    <li class="flex items-start">
                        <p class="flex-shrink-0 font-sans text-base font-normal text-opacity-50 text-white">
                            Week 8<br />
                            Week 10
                        </p>
                        <div class="ml-12">
                            <h3 class="font-serif text-3xl italic sm:text-4xl lg:text-5xl text-white">Conclusion</h3>
                            <p class="mt-4 font-sans text-xl font-normal text-opacity-50 text-white">Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="py-12 sm:py-16 lg:py-20 bg-black">
    <div class="px-6 mx-auto sm:px-8 lg:px-12 max-w-7xl">
        <div class="grid grid-cols-1 gap-y-12 lg:grid-cols-6 gap-x-16">
            <div class="lg:col-span-2">
                <h2 class="tracking-tighter text-white">
                    <span class="font-sans text-4xl font-normal sm:text-5xl md:text-6xl"> Course </span>
                    <span class="font-serif text-5xl italic sm:text-6xl md:text-7xl"> content </span>
                </h2>
                <p class="mt-6 font-sans text-lg text-opacity-50 text-white">
                    Elementum gravida massa neque, ante quis molestie. Nulla nullam aliquet vestibulum accumsan sed. Id amet fringilla sit donec. Luctus donec enim mauris justo, augue pharetra quis donec enim. Penatibus tellus nec leo, tellus. Elit id at porttitor etiam sed arcu at elementum orci.
                    Ut diam feugiat volutpat tempor euismod tortor habitant lobortis. Semper consequat leo id gravida suspendisse. Quam sed aliquam ultrices quis.
                </p>
                <div class="mt-8">
                    <a
                        href="#"
                        title=""
                        class="
                            inline-flex
                            items-center
                            justify-center
                            px-5
                            py-2
                            font-sans
                            text-base
                            font-semibold
                            transition-all
                            duration-200
                            bg-transparent
                            border-2
                            rounded-full
                            sm:leading-8
                            text-white
                            border-primary
                            hover:bg-white
                            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary
                            hover:text-black
                            sm:text-lg
                            focus:ring-offset-secondary
                        "
                        role="button"
                    >
                        Learn More
                        <svg class="w-6 h-6 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="space-y-6 lg:col-span-4">
                <div class="overflow-hidden transition-all duration-200 border rounded-lg border-neutral hover:bg-dark-gray">
                    <div class="px-8 py-10">
                        <h3 class="font-sans text-base font-normal uppercase text-white">CURSUS NULLA IN</h3>
                        <p class="mt-6 font-serif text-4xl italic text-white">Et enim nisl viverra molestie risus.</p>
                        <p class="mt-5 font-sans text-lg font-normal text-opacity-50 text-white">Amet dui blandit ultrices pellentesque tristique adipiscing bibendum tincidunt. Quam suscipit sit egestas purus massa consequat duis arcu.</p>
                    </div>
                </div>

                <div class="overflow-hidden transition-all duration-200 border rounded-lg border-neutral hover:bg-dark-gray">
                    <div class="px-8 py-10">
                        <h3 class="font-sans text-base font-normal uppercase text-white">PORTTITOR SIT TELLUS</h3>
                        <p class="mt-6 font-serif text-4xl italic text-white">Elit dictum vel quis aliquam.</p>
                        <p class="mt-5 font-sans text-lg font-normal text-opacity-50 text-white">Amet dui blandit ultrices pellentesque tristique adipiscing bibendum tincidunt. Quam suscipit sit egestas purus massa consequat duis arcu.</p>
                    </div>
                </div>

                <div class="overflow-hidden transition-all duration-200 border rounded-lg border-neutral hover:bg-dark-gray">
                    <div class="px-8 py-10">
                        <h3 class="font-sans text-base font-normal uppercase text-white">LOBORTIS</h3>
                        <p class="mt-6 font-serif text-4xl italic text-white">Arcu auctor nunc quis egestas sed.</p>
                        <p class="mt-5 font-sans text-lg font-normal text-opacity-50 text-white">Amet dui blandit ultrices pellentesque tristique adipiscing bibendum tincidunt. Quam suscipit sit egestas purus massa consequat duis arcu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-12 sm:py-16 lg:py-20 bg-black">
    <div class="px-6 mx-auto sm:px-8 lg:px-12 max-w-7xl">
        <div class="lg:flex lg:items-start lg:justify-between lg:space-x-12">
            <h2 class="flex-1 tracking-tighter text-white">
                <span class="font-sans text-4xl font-normal sm:text-5xl md:text-6xl"> Is this course </span>
                <span class="block font-serif text-5xl italic sm:text-6xl md:text-7xl"> right for me? </span>
            </h2>

            <p class="mt-8 font-sans text-lg text-opacity-50 lg:mt-0 lg:max-w-sm text-white">
                Amet facilisis egestas egestas nunc. Proin ut eget quam ornare tincidunt ornare in sit. Sociis facilisis leo faucibus donec est neque. Neque in volutpat, at volutpat nulla enim risus nisl. Enim sed eget amet gravida scelerisque egestas vitae.
            </p>
        </div>

        <div class="grid grid-cols-1 gap-5 mt-12 lg:mt-16 sm:grid-cols-2 lg:grid-cols-3">
            <div class="transition-all duration-200 border rounded-lg border-neutral hover:bg-dark-gray">
                <div class="px-4 py-5 sm:p-6 md:p-8">
                    <svg class="w-12 h-12 text-white" viewBox="0 0 45 45" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M30.9375 22.5C33.525 22.5 35.6063 20.4 35.6063 17.8125C35.6063 15.225 33.525 13.125 30.9375 13.125C28.35 13.125 26.25 15.225 26.25 17.8125C26.25 20.4 28.35 22.5 30.9375 22.5ZM16.875 20.625C19.9875 20.625 22.4813 18.1125 22.4813 15C22.4813 11.8875 19.9875 9.375 16.875 9.375C13.7625 9.375 11.25 11.8875 11.25 15C11.25 18.1125 13.7625 20.625 16.875 20.625ZM30.9375 26.25C27.5063 26.25 20.625 27.975 20.625 31.4062V33.75C20.625 34.7812 21.4688 35.625 22.5 35.625H39.375C40.4062 35.625 41.25 34.7812 41.25 33.75V31.4062C41.25 27.975 34.3687 26.25 30.9375 26.25ZM16.875 24.375C12.5063 24.375 3.75 26.5688 3.75 30.9375V33.75C3.75 34.7812 4.59375 35.625 5.625 35.625H16.875V31.4062C16.875 29.8125 17.4938 27.0187 21.3188 24.9C19.6875 24.5625 18.1125 24.375 16.875 24.375Z"
                        />
                    </svg>
                    <h3 class="mt-2 font-serif text-3xl italic text-white">Slack Community</h3>
                    <p class="mt-4 font-sans text-base font-normal text-opacity-50 text-white">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                </div>
            </div>

            <div class="transition-all duration-200 border rounded-lg border-neutral hover:bg-dark-gray">
                <div class="px-4 py-5 sm:p-6 md:p-8">
                    <svg class="w-12 h-12 text-white" viewBox="0 0 45 45" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M30.9375 22.5C33.525 22.5 35.6063 20.4 35.6063 17.8125C35.6063 15.225 33.525 13.125 30.9375 13.125C28.35 13.125 26.25 15.225 26.25 17.8125C26.25 20.4 28.35 22.5 30.9375 22.5ZM16.875 20.625C19.9875 20.625 22.4813 18.1125 22.4813 15C22.4813 11.8875 19.9875 9.375 16.875 9.375C13.7625 9.375 11.25 11.8875 11.25 15C11.25 18.1125 13.7625 20.625 16.875 20.625ZM30.9375 26.25C27.5063 26.25 20.625 27.975 20.625 31.4062V33.75C20.625 34.7812 21.4688 35.625 22.5 35.625H39.375C40.4062 35.625 41.25 34.7812 41.25 33.75V31.4062C41.25 27.975 34.3687 26.25 30.9375 26.25ZM16.875 24.375C12.5063 24.375 3.75 26.5688 3.75 30.9375V33.75C3.75 34.7812 4.59375 35.625 5.625 35.625H16.875V31.4062C16.875 29.8125 17.4938 27.0187 21.3188 24.9C19.6875 24.5625 18.1125 24.375 16.875 24.375Z"
                        />
                    </svg>
                    <h3 class="mt-2 font-serif text-3xl italic text-white">Slack Community</h3>
                    <p class="mt-4 font-sans text-base font-normal text-opacity-50 text-white">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                </div>
            </div>

            <div class="transition-all duration-200 border rounded-lg border-neutral hover:bg-dark-gray">
                <div class="px-4 py-5 sm:p-6 md:p-8">
                    <svg class="w-12 h-12 text-white" viewBox="0 0 45 45" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M30.9375 22.5C33.525 22.5 35.6063 20.4 35.6063 17.8125C35.6063 15.225 33.525 13.125 30.9375 13.125C28.35 13.125 26.25 15.225 26.25 17.8125C26.25 20.4 28.35 22.5 30.9375 22.5ZM16.875 20.625C19.9875 20.625 22.4813 18.1125 22.4813 15C22.4813 11.8875 19.9875 9.375 16.875 9.375C13.7625 9.375 11.25 11.8875 11.25 15C11.25 18.1125 13.7625 20.625 16.875 20.625ZM30.9375 26.25C27.5063 26.25 20.625 27.975 20.625 31.4062V33.75C20.625 34.7812 21.4688 35.625 22.5 35.625H39.375C40.4062 35.625 41.25 34.7812 41.25 33.75V31.4062C41.25 27.975 34.3687 26.25 30.9375 26.25ZM16.875 24.375C12.5063 24.375 3.75 26.5688 3.75 30.9375V33.75C3.75 34.7812 4.59375 35.625 5.625 35.625H16.875V31.4062C16.875 29.8125 17.4938 27.0187 21.3188 24.9C19.6875 24.5625 18.1125 24.375 16.875 24.375Z"
                        />
                    </svg>
                    <h3 class="mt-2 font-serif text-3xl italic text-white">Slack Community</h3>
                    <p class="mt-4 font-sans text-base font-normal text-opacity-50 text-white">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                </div>
            </div>

            <div class="transition-all duration-200 border rounded-lg border-neutral hover:bg-dark-gray">
                <div class="px-4 py-5 sm:p-6 md:p-8">
                    <svg class="w-12 h-12 text-white" viewBox="0 0 45 45" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M30.9375 22.5C33.525 22.5 35.6063 20.4 35.6063 17.8125C35.6063 15.225 33.525 13.125 30.9375 13.125C28.35 13.125 26.25 15.225 26.25 17.8125C26.25 20.4 28.35 22.5 30.9375 22.5ZM16.875 20.625C19.9875 20.625 22.4813 18.1125 22.4813 15C22.4813 11.8875 19.9875 9.375 16.875 9.375C13.7625 9.375 11.25 11.8875 11.25 15C11.25 18.1125 13.7625 20.625 16.875 20.625ZM30.9375 26.25C27.5063 26.25 20.625 27.975 20.625 31.4062V33.75C20.625 34.7812 21.4688 35.625 22.5 35.625H39.375C40.4062 35.625 41.25 34.7812 41.25 33.75V31.4062C41.25 27.975 34.3687 26.25 30.9375 26.25ZM16.875 24.375C12.5063 24.375 3.75 26.5688 3.75 30.9375V33.75C3.75 34.7812 4.59375 35.625 5.625 35.625H16.875V31.4062C16.875 29.8125 17.4938 27.0187 21.3188 24.9C19.6875 24.5625 18.1125 24.375 16.875 24.375Z"
                        />
                    </svg>
                    <h3 class="mt-2 font-serif text-3xl italic text-white">Slack Community</h3>
                    <p class="mt-4 font-sans text-base font-normal text-opacity-50 text-white">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                </div>
            </div>

            <div class="transition-all duration-200 border rounded-lg border-neutral hover:bg-dark-gray">
                <div class="px-4 py-5 sm:p-6 md:p-8">
                    <svg class="w-12 h-12 text-white" viewBox="0 0 45 45" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M30.9375 22.5C33.525 22.5 35.6063 20.4 35.6063 17.8125C35.6063 15.225 33.525 13.125 30.9375 13.125C28.35 13.125 26.25 15.225 26.25 17.8125C26.25 20.4 28.35 22.5 30.9375 22.5ZM16.875 20.625C19.9875 20.625 22.4813 18.1125 22.4813 15C22.4813 11.8875 19.9875 9.375 16.875 9.375C13.7625 9.375 11.25 11.8875 11.25 15C11.25 18.1125 13.7625 20.625 16.875 20.625ZM30.9375 26.25C27.5063 26.25 20.625 27.975 20.625 31.4062V33.75C20.625 34.7812 21.4688 35.625 22.5 35.625H39.375C40.4062 35.625 41.25 34.7812 41.25 33.75V31.4062C41.25 27.975 34.3687 26.25 30.9375 26.25ZM16.875 24.375C12.5063 24.375 3.75 26.5688 3.75 30.9375V33.75C3.75 34.7812 4.59375 35.625 5.625 35.625H16.875V31.4062C16.875 29.8125 17.4938 27.0187 21.3188 24.9C19.6875 24.5625 18.1125 24.375 16.875 24.375Z"
                        />
                    </svg>
                    <h3 class="mt-2 font-serif text-3xl italic text-white">Slack Community</h3>
                    <p class="mt-4 font-sans text-base font-normal text-opacity-50 text-white">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                </div>
            </div>

            <div class="transition-all duration-200 border rounded-lg border-neutral hover:bg-dark-gray">
                <div class="px-4 py-5 sm:p-6 md:p-8">
                    <svg class="w-12 h-12 text-white" viewBox="0 0 45 45" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M30.9375 22.5C33.525 22.5 35.6063 20.4 35.6063 17.8125C35.6063 15.225 33.525 13.125 30.9375 13.125C28.35 13.125 26.25 15.225 26.25 17.8125C26.25 20.4 28.35 22.5 30.9375 22.5ZM16.875 20.625C19.9875 20.625 22.4813 18.1125 22.4813 15C22.4813 11.8875 19.9875 9.375 16.875 9.375C13.7625 9.375 11.25 11.8875 11.25 15C11.25 18.1125 13.7625 20.625 16.875 20.625ZM30.9375 26.25C27.5063 26.25 20.625 27.975 20.625 31.4062V33.75C20.625 34.7812 21.4688 35.625 22.5 35.625H39.375C40.4062 35.625 41.25 34.7812 41.25 33.75V31.4062C41.25 27.975 34.3687 26.25 30.9375 26.25ZM16.875 24.375C12.5063 24.375 3.75 26.5688 3.75 30.9375V33.75C3.75 34.7812 4.59375 35.625 5.625 35.625H16.875V31.4062C16.875 29.8125 17.4938 27.0187 21.3188 24.9C19.6875 24.5625 18.1125 24.375 16.875 24.375Z"
                        />
                    </svg>
                    <h3 class="mt-2 font-serif text-3xl italic text-white">Slack Community</h3>
                    <p class="mt-4 font-sans text-base font-normal text-opacity-50 text-white">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-12 sm:py-16 lg:py-20 bg-black">
    <div class="px-6 mx-auto sm:px-8 lg:px-12 max-w-7xl">
        <div class="grid grid-cols-1 gap-y-12 xl:grid-cols-6 gap-x-8">
            <div class="xl:col-span-2">
                <h2 class="tracking-tighter text-white">
                    <span class="font-sans text-4xl font-normal sm:text-5xl md:text-6xl"> Is this course right </span>
                    <span class="font-serif text-5xl italic sm:text-6xl sm:block md:text-7xl"> for me? </span>
                </h2>
            </div>

            <div class="xl:col-span-4">
                <div class="grid grid-cols-1 gap-5 md:grid-cols-3">
                    <div class="transition-all duration-200 border rounded-lg border-neutral hover:bg-dark-gray">
                        <div class="px-4 py-5 sm:px-6 sm:py-8">
                            <svg class="w-12 h-12 text-white text-opacity-60" viewBox="0 0 45 45" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M30.9375 22.5C33.525 22.5 35.6063 20.4 35.6063 17.8125C35.6063 15.225 33.525 13.125 30.9375 13.125C28.35 13.125 26.25 15.225 26.25 17.8125C26.25 20.4 28.35 22.5 30.9375 22.5ZM16.875 20.625C19.9875 20.625 22.4813 18.1125 22.4813 15C22.4813 11.8875 19.9875 9.375 16.875 9.375C13.7625 9.375 11.25 11.8875 11.25 15C11.25 18.1125 13.7625 20.625 16.875 20.625ZM30.9375 26.25C27.5063 26.25 20.625 27.975 20.625 31.4062V33.75C20.625 34.7812 21.4688 35.625 22.5 35.625H39.375C40.4062 35.625 41.25 34.7812 41.25 33.75V31.4062C41.25 27.975 34.3687 26.25 30.9375 26.25ZM16.875 24.375C12.5063 24.375 3.75 26.5688 3.75 30.9375V33.75C3.75 34.7812 4.59375 35.625 5.625 35.625H16.875V31.4062C16.875 29.8125 17.4938 27.0187 21.3188 24.9C19.6875 24.5625 18.1125 24.375 16.875 24.375Z"
                                />
                            </svg>
                            <h3 class="mt-2 font-serif text-2xl italic text-white">Slack Community</h3>
                            <p class="mt-4 font-sans text-base font-normal text-opacity-50 text-white">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                        </div>
                    </div>

                    <div class="transition-all duration-200 border rounded-lg border-neutral hover:bg-dark-gray">
                        <div class="px-4 py-5 sm:px-6 sm:py-8">
                            <svg class="w-12 h-12 text-white text-opacity-60" viewBox="0 0 45 45" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M30.9375 22.5C33.525 22.5 35.6063 20.4 35.6063 17.8125C35.6063 15.225 33.525 13.125 30.9375 13.125C28.35 13.125 26.25 15.225 26.25 17.8125C26.25 20.4 28.35 22.5 30.9375 22.5ZM16.875 20.625C19.9875 20.625 22.4813 18.1125 22.4813 15C22.4813 11.8875 19.9875 9.375 16.875 9.375C13.7625 9.375 11.25 11.8875 11.25 15C11.25 18.1125 13.7625 20.625 16.875 20.625ZM30.9375 26.25C27.5063 26.25 20.625 27.975 20.625 31.4062V33.75C20.625 34.7812 21.4688 35.625 22.5 35.625H39.375C40.4062 35.625 41.25 34.7812 41.25 33.75V31.4062C41.25 27.975 34.3687 26.25 30.9375 26.25ZM16.875 24.375C12.5063 24.375 3.75 26.5688 3.75 30.9375V33.75C3.75 34.7812 4.59375 35.625 5.625 35.625H16.875V31.4062C16.875 29.8125 17.4938 27.0187 21.3188 24.9C19.6875 24.5625 18.1125 24.375 16.875 24.375Z"
                                />
                            </svg>
                            <h3 class="mt-2 font-serif text-2xl italic text-white">Slack Community</h3>
                            <p class="mt-4 font-sans text-base font-normal text-opacity-50 text-white">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                        </div>
                    </div>

                    <div class="transition-all duration-200 border rounded-lg border-neutral hover:bg-dark-gray">
                        <div class="px-4 py-5 sm:px-6 sm:py-8">
                            <svg class="w-12 h-12 text-white text-opacity-60" viewBox="0 0 45 45" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M30.9375 22.5C33.525 22.5 35.6063 20.4 35.6063 17.8125C35.6063 15.225 33.525 13.125 30.9375 13.125C28.35 13.125 26.25 15.225 26.25 17.8125C26.25 20.4 28.35 22.5 30.9375 22.5ZM16.875 20.625C19.9875 20.625 22.4813 18.1125 22.4813 15C22.4813 11.8875 19.9875 9.375 16.875 9.375C13.7625 9.375 11.25 11.8875 11.25 15C11.25 18.1125 13.7625 20.625 16.875 20.625ZM30.9375 26.25C27.5063 26.25 20.625 27.975 20.625 31.4062V33.75C20.625 34.7812 21.4688 35.625 22.5 35.625H39.375C40.4062 35.625 41.25 34.7812 41.25 33.75V31.4062C41.25 27.975 34.3687 26.25 30.9375 26.25ZM16.875 24.375C12.5063 24.375 3.75 26.5688 3.75 30.9375V33.75C3.75 34.7812 4.59375 35.625 5.625 35.625H16.875V31.4062C16.875 29.8125 17.4938 27.0187 21.3188 24.9C19.6875 24.5625 18.1125 24.375 16.875 24.375Z"
                                />
                            </svg>
                            <h3 class="mt-2 font-serif text-2xl italic text-white">Slack Community</h3>
                            <p class="mt-4 font-sans text-base font-normal text-opacity-50 text-white">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="relative bg-dark-gray">
    <div class="absolute inset-0">
        <div class="absolute inset-y-0 left-0 w-1/2 bg-black"></div>
    </div>

    <div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-5">
        <div class="py-12 sm:py-16 bg-black lg:col-span-2 lg:py-20">
            <div class="px-6 sm:px-8 lg:px-12 xl:pr-16">
                <h2 class="font-sans text-4xl font-normal text-white">Is this course right <br class="hidden lg:block" />for me?</h2>

                <ul class="pr-8 mt-12 space-y-6 font-sans text-base font-normal text-white">
                    <li class="flex items-start">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-4 border rounded-full border-primary">
                            <svg class="w-6 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M13.9354 6.55397C14.1949 6.75575 14.2418 7.12971 14.04 7.38923L9.41207 13.3415C9.309 13.4741 9.15475 13.557 8.98731 13.5697C8.81989 13.5825 8.65487 13.5239 8.53293 13.4084L6.01804 11.0275C5.77932 10.8015 5.76901 10.4248 5.99502 10.186C6.22102 9.94732 6.59776 9.93701 6.83648 10.163L8.87495 12.0929L13.1001 6.65852C13.3019 6.399 13.6759 6.35219 13.9354 6.55397Z"
                                />
                            </svg>
                        </div>
                        Cras est vehicula imperdiet enim elit turpis.
                    </li>

                    <li class="flex items-start">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-4 border rounded-full border-primary">
                            <svg class="w-6 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M13.9354 6.55397C14.1949 6.75575 14.2418 7.12971 14.04 7.38923L9.41207 13.3415C9.309 13.4741 9.15475 13.557 8.98731 13.5697C8.81989 13.5825 8.65487 13.5239 8.53293 13.4084L6.01804 11.0275C5.77932 10.8015 5.76901 10.4248 5.99502 10.186C6.22102 9.94732 6.59776 9.93701 6.83648 10.163L8.87495 12.0929L13.1001 6.65852C13.3019 6.399 13.6759 6.35219 13.9354 6.55397Z"
                                />
                            </svg>
                        </div>
                        Quam id quam etiam viverra interdum sed tincidunt non.
                    </li>

                    <li class="flex items-start">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-4 border rounded-full border-primary">
                            <svg class="w-6 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M13.9354 6.55397C14.1949 6.75575 14.2418 7.12971 14.04 7.38923L9.41207 13.3415C9.309 13.4741 9.15475 13.557 8.98731 13.5697C8.81989 13.5825 8.65487 13.5239 8.53293 13.4084L6.01804 11.0275C5.77932 10.8015 5.76901 10.4248 5.99502 10.186C6.22102 9.94732 6.59776 9.93701 6.83648 10.163L8.87495 12.0929L13.1001 6.65852C13.3019 6.399 13.6759 6.35219 13.9354 6.55397Z"
                                />
                            </svg>
                        </div>
                        In sapien et feugiat morbi in condimentum.
                    </li>

                    <li class="flex items-start">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-4 border rounded-full border-primary">
                            <svg class="w-6 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M13.9354 6.55397C14.1949 6.75575 14.2418 7.12971 14.04 7.38923L9.41207 13.3415C9.309 13.4741 9.15475 13.557 8.98731 13.5697C8.81989 13.5825 8.65487 13.5239 8.53293 13.4084L6.01804 11.0275C5.77932 10.8015 5.76901 10.4248 5.99502 10.186C6.22102 9.94732 6.59776 9.93701 6.83648 10.163L8.87495 12.0929L13.1001 6.65852C13.3019 6.399 13.6759 6.35219 13.9354 6.55397Z"
                                />
                            </svg>
                        </div>
                        Eget etiam pellentesque dictumst id montes.
                    </li>
                </ul>
            </div>
        </div>

        <div class="py-12 sm:py-16 bg-dark-gray lg:col-span-3 lg:py-20">
            <div class="px-6 sm:px-8 lg:px-12 xl:pl-16">
                <ul class="space-y-8 font-serif text-3xl italic lg:space-y-10 sm:text-4xl lg:text-5xl text-white">
                    <li class="flex items-center">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mr-5 rounded-full bg-white text-black">
                            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M9 11.75C8.31 11.75 7.75 12.31 7.75 13C7.75 13.69 8.31 14.25 9 14.25C9.69 14.25 10.25 13.69 10.25 13C10.25 12.31 9.69 11.75 9 11.75ZM15 11.75C14.31 11.75 13.75 12.31 13.75 13C13.75 13.69 14.31 14.25 15 14.25C15.69 14.25 16.25 13.69 16.25 13C16.25 12.31 15.69 11.75 15 11.75ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 11.71 4.02 11.42 4.05 11.14C6.41 10.09 8.28 8.16 9.26 5.77C11.07 8.33 14.05 10 17.42 10C18.2 10 18.95 9.91 19.67 9.74C19.88 10.45 20 11.21 20 12C20 16.41 16.41 20 12 20Z"
                                />
                            </svg>
                        </div>
                        Slack Community
                    </li>

                    <li class="flex items-center">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mr-5 rounded-full bg-white text-black">
                            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M9 11.75C8.31 11.75 7.75 12.31 7.75 13C7.75 13.69 8.31 14.25 9 14.25C9.69 14.25 10.25 13.69 10.25 13C10.25 12.31 9.69 11.75 9 11.75ZM15 11.75C14.31 11.75 13.75 12.31 13.75 13C13.75 13.69 14.31 14.25 15 14.25C15.69 14.25 16.25 13.69 16.25 13C16.25 12.31 15.69 11.75 15 11.75ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 11.71 4.02 11.42 4.05 11.14C6.41 10.09 8.28 8.16 9.26 5.77C11.07 8.33 14.05 10 17.42 10C18.2 10 18.95 9.91 19.67 9.74C19.88 10.45 20 11.21 20 12C20 16.41 16.41 20 12 20Z"
                                />
                            </svg>
                        </div>
                        Video courses
                    </li>

                    <li class="flex items-center">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mr-5 rounded-full bg-white text-black">
                            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M9 11.75C8.31 11.75 7.75 12.31 7.75 13C7.75 13.69 8.31 14.25 9 14.25C9.69 14.25 10.25 13.69 10.25 13C10.25 12.31 9.69 11.75 9 11.75ZM15 11.75C14.31 11.75 13.75 12.31 13.75 13C13.75 13.69 14.31 14.25 15 14.25C15.69 14.25 16.25 13.69 16.25 13C16.25 12.31 15.69 11.75 15 11.75ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 11.71 4.02 11.42 4.05 11.14C6.41 10.09 8.28 8.16 9.26 5.77C11.07 8.33 14.05 10 17.42 10C18.2 10 18.95 9.91 19.67 9.74C19.88 10.45 20 11.21 20 12C20 16.41 16.41 20 12 20Z"
                                />
                            </svg>
                        </div>
                        Slack Community
                    </li>

                    <li class="flex items-center">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mr-5 rounded-full bg-white text-black">
                            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M9 11.75C8.31 11.75 7.75 12.31 7.75 13C7.75 13.69 8.31 14.25 9 14.25C9.69 14.25 10.25 13.69 10.25 13C10.25 12.31 9.69 11.75 9 11.75ZM15 11.75C14.31 11.75 13.75 12.31 13.75 13C13.75 13.69 14.31 14.25 15 14.25C15.69 14.25 16.25 13.69 16.25 13C16.25 12.31 15.69 11.75 15 11.75ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 11.71 4.02 11.42 4.05 11.14C6.41 10.09 8.28 8.16 9.26 5.77C11.07 8.33 14.05 10 17.42 10C18.2 10 18.95 9.91 19.67 9.74C19.88 10.45 20 11.21 20 12C20 16.41 16.41 20 12 20Z"
                                />
                            </svg>
                        </div>
                        Slack Community
                    </li>

                    <li class="flex items-center">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mr-5 rounded-full bg-white text-black">
                            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M9 11.75C8.31 11.75 7.75 12.31 7.75 13C7.75 13.69 8.31 14.25 9 14.25C9.69 14.25 10.25 13.69 10.25 13C10.25 12.31 9.69 11.75 9 11.75ZM15 11.75C14.31 11.75 13.75 12.31 13.75 13C13.75 13.69 14.31 14.25 15 14.25C15.69 14.25 16.25 13.69 16.25 13C16.25 12.31 15.69 11.75 15 11.75ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 11.71 4.02 11.42 4.05 11.14C6.41 10.09 8.28 8.16 9.26 5.77C11.07 8.33 14.05 10 17.42 10C18.2 10 18.95 9.91 19.67 9.74C19.88 10.45 20 11.21 20 12C20 16.41 16.41 20 12 20Z"
                                />
                            </svg>
                        </div>
                        Video courses
                    </li>

                    <li class="flex items-center">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mr-5 rounded-full bg-white text-black">
                            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M9 11.75C8.31 11.75 7.75 12.31 7.75 13C7.75 13.69 8.31 14.25 9 14.25C9.69 14.25 10.25 13.69 10.25 13C10.25 12.31 9.69 11.75 9 11.75ZM15 11.75C14.31 11.75 13.75 12.31 13.75 13C13.75 13.69 14.31 14.25 15 14.25C15.69 14.25 16.25 13.69 16.25 13C16.25 12.31 15.69 11.75 15 11.75ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 11.71 4.02 11.42 4.05 11.14C6.41 10.09 8.28 8.16 9.26 5.77C11.07 8.33 14.05 10 17.42 10C18.2 10 18.95 9.91 19.67 9.74C19.88 10.45 20 11.21 20 12C20 16.41 16.41 20 12 20Z"
                                />
                            </svg>
                        </div>
                        Slack Community
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="py-12 bg-gray-900 sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <p class="text-sm font-normal text-gray-300 font-pj">Nov 19, 2021</p>
        <h1 class="max-w-4xl mt-6 text-3xl font-bold text-white sm:text-4xl xl:text-5xl font-pj xl:max-w-5xl">How to create a successful website using Rareblocks UI Kit.</h1>

        <div class="grid grid-cols-1 mt-10 lg:grid-cols-12 lg:mt-24 gap-y-10 lg:gap-x-20">
            <div class="lg:col-span-5">
                <div class="overflow-hidden rounded-2xl lg:h-full max-h-96 lg:max-h-full">
                    <img class="object-cover lg:h-full" src="https://cdn.rareblocks.xyz/collection/clarity/images/long-form/2/img-blog.png" alt="" />
                </div>
                <!-- <div class="w-full h-full overflow-hidden rounded-2xl aspect-w-3 aspect-h-4 sm:aspect-h-3 lg:aspect-none">
              <img class="object-cover w-full h-full lg:w-auto" src="https://cdn.rareblocks.xyz/collection/clarity/images/long-form/2/img-blog.png" alt="">
            </div> -->
            </div>

            <div class="lg:col-span-7">
                <p class="text-base font-normal leading-7 text-gray-300 font-pj">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa risus sed eget ornare posuere turpis vitae. Id elementum velit posuere vestibulum lectus id eu sollicitudin. Tellus amet bibendum sit mus phasellus quis duis lacus. Enim eget sagittis, auctor iaculis nulla semper. In
                    vitae neque integer integer metus, est, tristique fermentum tristique.
                </p>

                <h2 class="mt-10 text-2xl text-white font-pj font-bodl">Get everything from scratch</h2>
                <p class="mt-6 text-base font-normal leading-7 text-gray-300 font-pj">
                    Massa risus sed eget ornare posuere turpis vitae. Id elementum velit posuere vestibulum lectus id eu sollicitudin. Tellus amet bibendum sit mus phasellus quis duis lacus. Enim eget sagittis, auctor iaculis nulla semper. In vitae neque integer integer metus, est, tristique
                    fermentum tristique.
                </p>

                <ul class="pl-5 mt-6 space-y-1 text-base font-normal leading-7 text-gray-300 list-disc list-outside font-pj">
                    <li>Id elementum velit posuere vestibulum lectus id eu sollicitudin.</li>
                    <li>Tellus amet bibendum sit mus phasellus quis duis lacus.</li>
                    <li>Enim eget sagittis, auctor iaculis nulla semper.</li>
                </ul>

                <h2 class="mt-10 text-2xl text-white font-pj font-bodl">Choose from 120+ UI blocks</h2>
                <p class="mt-6 text-base font-normal leading-7 text-gray-300 font-pj">
                    Massa risus sed eget ornare posuere turpis vitae. Id elementum velit posuere vestibulum lectus id eu sollicitudin. Tellus amet bibendum sit mus phasellus quis duis lacus. Enim eget sagittis, auctor iaculis nulla semper. In vitae neque integer integer metus, est, tristique
                    fermentum tristique.
                </p>
                <p class="mt-6 text-base font-normal leading-7 text-gray-300 font-pj">Tellus amet bibendum sit mus phasellus quis duis lacus. Enim eget sagittis, auctor iaculis nulla semper. In vitae neque integer integer metus, est, tristique fermentum tristique.</p>
            </div>
        </div>
    </div>
</section>
<section class="relative py-12 bg-gray-900 sm:py-16 lg:py-20">
    <div class="absolute inset-0">
        <img class="object-cover w-full h-full" src="https://landingfoliocom.imgix.net/store/collection/clarity-blog/images/blog-featured/3/thumbnail.png" alt="" />
    </div>

    <div class="relative px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="flex justify-end max-w-5xl mx-auto">
            <div class="overflow-hidden bg-white md:w-1/2">
                <div class="p-8 sm:py-10 sm:px-12">
                    <p class="text-sm font-medium text-gray-900">April 09, 2022</p>
                    <p class="mt-4 text-2xl font-bold text-gray-900 sm:text-3xl">
                        <a href="#" title="" class=""> How to write content about your photographs </a>
                    </p>
                    <p class="mt-6 text-base font-normal leading-7 text-gray-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis commodo magna risus maecenas nisl sed cras lacus, vestibulum. Dictum nisi amet.</p>
                    <div class="mt-16">
                        <a href="#" title="" class="inline-flex items-center text-xs font-bold tracking-widest text-gray-900 uppercase group">
                            Learn More
                            <svg class="w-4 h-4 ml-2 transition-all duration-200 transform group-hover:translate-x-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
